---

---

<div
  class="card bg-gradient-to-b from-base-100 via-base-200 to-base-300 card-bordered border-base-300 rounded-xl max-w-96"
>
  <div class="card-body">
    <h2 class="card-title">A post</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </p>
    <div class="card-actions justify-end">
      <a href="#">Read more...</a>
    </div>
  </div>
</div>
